
<link rel="stylesheet" type="text/css" href="./style/components/login.css">
<form ui-sref = "login">
  <section class="user">
    <div class="user_options-container">
      <div class="user_options-text">
        <div class="user_options-unregistered">
          <h2 class="user_unregistered-title">Don't have an account?</h2>
          <p class="user_unregistered-text"></p>
          <button class="user_unregistered-signup" id="signup-button">Sign up</button>
        </div>

        <div class="user_options-registered">
          <h2 class="user_registered-title">Have an account?</h2>
          <p class="user_registered-text"></p>
          <button class="user_registered-login" id="login-button" >Login</button>
        </div>
      </div>

      <div class="user_options-forms" id="user_options-forms">
        <div class="user_forms-login">
          <h2 class="forms_title">Login</h2>
          <form class="forms_form" >
            <fieldset class="forms_fieldset">
              <div class="forms_field">
                <input type="email" placeholder="Email" class="forms_field-input" data-ng-model='email' required />
                <!-- required -->
              </div>
              <div class="forms_field">
                <input type="password" placeholder="Password" class="forms_field-input" data-ng-model='password'  required/>

              </div>
            </fieldset>
            <div class="forms_buttons">
              <button type="button" class="forms_buttons-forgot">Forgot password?</button>
              <input type="submit" value="Log In" class="forms_buttons-action" data-ng-click="login(email, password)">
            </div>
          </form>
        </div>
        <div class="user_forms-signup">
          <h2 class="forms_title">Sign Up</h2>
          <form class="forms_form">
            <fieldset class="forms_fieldset">
              <div class="forms_field">
                <input type="text" placeholder="FirstName" class="forms_field-input" data-ng-model='firstName1' required />
              </div>
              <div class="forms_field">
                <input type="text" placeholder="LastName" class="forms_field-input" data-ng-model='lastName1' required />
              </div>
              <div class="forms_field">
                <input type="email" placeholder="Email" class="forms_field-input" data-ng-model='email1' required />
              </div>
              <div class="forms_field">
                <input type="password" placeholder="Password" class="forms_field-input" data-ng-model='password1' required />
              </div>
            </fieldset>
            <div class="forms_buttons">
              <input type="submit" value="Sign up" class="forms_buttons-action" data-ng-click = "registration(firstName1,lastName1,email1, password1)">
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</form>
